body {
  margin: 30px;
  border: 10px solid black;
  padding-left: 10px;
  padding-right: 40px;
  text-align: center;
  margin: 60px;
}
.bios {
  float: left;
  margin: 10 auto;
  width: 25%;
  border: 4px solid yellow;
  padding: 8px;
  background-color: gray;
  text-align: center;
  font-size: 30px;
}

.bios img {
  width: 200px;
}

.bios h3 {
  color: #5EE0FF
}
